on:
  # Runs on pushes targeting the default branch
  push:
    branches: ["main"]
  pull_request:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  # Single deploy job since we're just deploying
  docs:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    concurrency:
      group: "pages"
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
      - name: install
        run: |
          pip install -e .[dev]
      - name: build documentation
        run: |
          sphinx-build docs/source docs/build
      - name: deploy documentation
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/build/
          force_orphan: true
